In [2]:
import pandas as pd

In [3]:
castdata = pd.read_csv('tmdb_cast_crew.csv')
metadata = pd.read_csv('tmdb_movies_metadata.csv')

In [4]:
castdata.head()

,movie_id,director,producer,actor_1,actor_2,actor_3
0,19995,James Cameron,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver
1,285,Gore Verbinski,Jerry Bruckheimer,Johnny Depp,Orlando Bloom,Keira Knightley
2,206647,Sam Mendes,Barbara Broccoli,Daniel Craig,Christoph Waltz,Léa Seydoux
3,49026,Christopher Nolan,Charles Roven,Christian Bale,Michael Caine,Gary Oldman
4,49529,Andrew Stanton,Colin Wilson,Taylor Kitsch,Lynn Collins,Samantha Morton

In [5]:
metadata.head()

,movie_id,title,original_language,release_date,budget,revenue,runtime,vote_average,vote_count,popularity,genres,keywords,production_companies,production_countries
0,19995,Avatar,en,2009-12-10,237000000,2.787965e+09,162.0,7.2,11800,150.437577,Action|Adventure|Fantasy|Science Fiction,culture clash|future|space war|space colony|so...,Ingenious Film Partners|Twentieth Century Fox ...,United States of America|United Kingdom
1,285,Pirates of the Caribbean: At World's End,en,2007-05-19,300000000,9.610000e+08,169.0,6.9,4500,139.082615,Adventure|Fantasy|Action,ocean|drug abuse|exotic island|east india trad...,Walt Disney Pictures|Jerry Bruckheimer Films|S...,United States of America
2,206647,Spectre,en,2015-10-26,245000000,8.806746e+08,148.0,6.3,4466,107.376788,Action|Adventure|Crime,spy|based on novel|secret agent|sequel|mi6|bri...,Columbia Pictures|Danjaq|B24,United Kingdom|United States of America
3,49026,The Dark Knight Rises,en,2012-07-16,250000000,1.084939e+09,165.0,7.6,9106,112.312950,Action|Crime|Drama|Thriller,dc comics|crime fighter|terrorist|secret ident...,Legendary Pictures|Warner Bros.|DC Entertainme...,United States of America
4,49529,John Carter,en,2012-03-07,260000000,2.841391e+08,132.0,6.1,2124,43.926995,Action|Adventure|Science Fiction,based on novel|mars|medallion|space travel|pri...,Walt Disney Pictures,United States of America

In [6]:
# Merge the two datasets to make it easy exploring them
tmdb = metadata.merge(castdata, on = 'movie_id')

In [7]:
tmdb.head()

,movie_id,title,original_language,release_date,budget,revenue,runtime,vote_average,vote_count,popularity,genres,keywords,production_companies,production_countries,director,producer,actor_1,actor_2,actor_3
0,19995,Avatar,en,2009-12-10,237000000,2.787965e+09,162.0,7.2,11800,150.437577,Action|Adventure|Fantasy|Science Fiction,culture clash|future|space war|space colony|so...,Ingenious Film Partners|Twentieth Century Fox ...,United States of America|United Kingdom,James Cameron,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver
1,285,Pirates of the Caribbean: At World's End,en,2007-05-19,300000000,9.610000e+08,169.0,6.9,4500,139.082615,Adventure|Fantasy|Action,ocean|drug abuse|exotic island|east india trad...,Walt Disney Pictures|Jerry Bruckheimer Films|S...,United States of America,Gore Verbinski,Jerry Bruckheimer,Johnny Depp,Orlando Bloom,Keira Knightley
2,206647,Spectre,en,2015-10-26,245000000,8.806746e+08,148.0,6.3,4466,107.376788,Action|Adventure|Crime,spy|based on novel|secret agent|sequel|mi6|bri...,Columbia Pictures|Danjaq|B24,United Kingdom|United States of America,Sam Mendes,Barbara Broccoli,Daniel Craig,Christoph Waltz,Léa Seydoux
3,49026,The Dark Knight Rises,en,2012-07-16,250000000,1.084939e+09,165.0,7.6,9106,112.312950,Action|Crime|Drama|Thriller,dc comics|crime fighter|terrorist|secret ident...,Legendary Pictures|Warner Bros.|DC Entertainme...,United States of America,Christopher Nolan,Charles Roven,Christian Bale,Michael Caine,Gary Oldman
4,49529,John Carter,en,2012-03-07,260000000,2.841391e+08,132.0,6.1,2124,43.926995,Action|Adventure|Science Fiction,based on novel|mars|medallion|space travel|pri...,Walt Disney Pictures,United States of America,Andrew Stanton,Colin Wilson,Taylor Kitsch,Lynn Collins,Samantha Morton

In [8]:
tmdb[tmdb['movie_id'] == 4244]

,movie_id,title,original_language,release_date,budget,revenue,runtime,vote_average,vote_count,popularity,genres,keywords,production_companies,production_countries,director,producer,actor_1,actor_2,actor_3
646,4244,The Kid,en,2000-07-07,65000000,69700000.0,104.0,6.0,238,18.281798,Fantasy|Comedy|Family,age difference|midlife crisis|suppressed past|...,Walt Disney Pictures,United States of America,Jon Turteltaub,Jon Turteltaub,Bruce Willis,Spencer Breslin,Emily Mortimer

## 1.What are the genres that have the highest average rating?

In [27]:
tmdb['genres'][tmdb['vote_average'] == tmdb['vote_average'].max()]

3518                  Comedy
4044     Comedy|Drama|Family
4244    Romance|Comedy|Drama
Name: genres, dtype: object

## 2.Who are the highly rated directors?

In [28]:
tmdb['director'][tmdb['vote_average'] == tmdb['vote_average'].max()]

3518      Gary Sinyor
4044    Tim McCanlies
4244              NaN
Name: director, dtype: object

## 3.Who are the highly rated actors?

In [31]:
tmdb[['actor_1', 'actor_2', 'actor_3']][tmdb['vote_average'] == tmdb['vote_average'].max()]

             actor_1          actor_2          actor_3
3518  Georgina Cates    Peter Ustinov  Prunella Scales
4044   Breckin Meyer  Peter Facinelli      Eddie Mills
4244             NaN              NaN              NaN

## 4.Who are the most profitable directors?

In [33]:
tmdb[['director', 'revenue']][tmdb['revenue'] == tmdb['revenue'].max()]

        director       revenue
0  James Cameron  2.787965e+09

## 5.Who are the most profitable actors?

In [34]:
tmdb[['actor_1', 'actor_2', 'actor_3']][tmdb['revenue'] == tmdb['revenue'].max()]

           actor_1      actor_2           actor_3
0  Sam Worthington  Zoe Saldana  Sigourney Weaver

## 6.Which countries have higher average rating?

In [35]:
tmdb['production_countries'][tmdb['vote_average'] == tmdb['vote_average'].max()]

3518        United Kingdom|India
4044    United States of America
4244                         NaN
Name: production_countries, dtype: object

## 7.Which countries produced more movies?

In [37]:
tmdb['production_countries'].value_counts()[:5]

United States of America                   2973
United Kingdom|United States of America     181
United Kingdom                              130
Germany|United States of America            119
Canada|United States of America              88
Name: production_countries, dtype: int64